<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
<head>
    <title>Register</title>
    <meta charset="UTF-8" />
</head>
<body>
    <h1>Register</h1>
    <form action="#" th:action="@{/auth/register}" method="post" th:object="${user}">
        <input type="text" th:field="*{name}" placeholder="Name" required />
        <input type="email" th:field="*{email}" placeholder="Email" required />
        <input type="password" th:field="*{password}" placeholder="Password" required />
        <select th:field="*{role}">
            <option value="EMPLOYEE">Employee</option>
            <option value="MANAGER">Manager</option>
        </select>
        <button type="submit">Register</button>
    </form>
    
    <p th:if="${error}" th:text="${error}"></p>
    <div style="text-align: center; margin-top: 20px;">
        <p style="color: white;">Already Have an Account </p>
        <a th:href="@{/auth/login}">
            <button type="button">Login</button>
        </a>
    </div>
</body>
</html>